
body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.4rem;
    background-image: url(../assets/images/background5.jpg);
    background-repeat: no-repeat repeat-y;
    background-size: cover;
    min-height:100vh;
}

.container {
    display: flex;
    padding: 40px 0 40px 0; 
}

.container .mrgn-tp {
    margin-top:20px;
}

.container div {
    flex: 1;
}

.container .inner-block-style {
    display: flex;
    flex-direction: column;
}

.result-row {
    white-space: normal;
}

.container textarea {
    min-height: 300px; 
    width: 90%;
    /* overflow:hidden; */
    resize: none;
    background-color: #60BDCE;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(3.5px);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
    color: #263d5a;
}

.input-block textarea {
    outline: none;
}



